@import "../../assets/sass/main.scss";

.footer{
  background-color: $font-sec_color;
  height: 100px;
  width: 100vw;
  display: flex;
  list-style-type: none;
  align-items: center;
  padding: 20px;
  justify-content: center;
  flex-direction: column;
}
.footer__ul{
  display: flex;
  width: 100%;
  height: 70%;
  justify-content: space-evenly;
  list-style-type: none;


}
.footer__insta{
  display: flex;
  width: 100%;
  height: 20%;
  justify-content: space-evenly;
  padding: 10px;
  margin-bottom: 20px;
}
.social{
  font-size: 25px;
}