$font_color: #1c1d21;
$font-sec_color: #426e80;
$btn_color: #96a8b0;

$main_font: "Open Sans", sans-serif;
$logo_font: "Raleway", sans-serif;

$font_size: 16px;

$breakpoint-tablet: "only screen and (min-width: 550px)";
$breakpoint-desktop: "only screen and (min-width: 950px)";